asgiref
atomicwrites
attrs
certifi
chardet
charset-normalizer
colorama
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
idna
iniconfig
packaging
Pillow
pluggy
py
PyJWT
pyparsing
pytest
pytz
razorpay
requests
sqlparse
toml
urllib3