<div class="rounded-md border border-gray-300 dark:border-gray-800">
    <div class="p-4">
        <div class="flex justify-between items-center mb-2">
            <p class="text-base text-gray-400">New {{ object }}</p>

            {% include 'admin/_badge.html' with badge_text='last 7 days' %}
        </div>
        <p class="text-3xl font-semibold">{{ value }}</p>
    </div>
    <div class="border-t border-gray-300 dark:border-gray-800 px-4 py-2 text-sm text-gray-400 flex items-center justify-between">
        <div>
            {% if increment >= 0 %}
                <span class="text-green-500">
                    +{{ increment }}% increase from last week
                </span>
            {% else %}
                <span class="text-red-500">
                    {{ increment }}% decrease from last week
                </span>
            {% endif %}
        </div>
        <div class="text-right">
           Total {{ object }}: <span class="font-semibold">{{ total_value }}</span>
        </div>
    </div>
</div>