{% extends 'unfold/layouts/base_simple.html' %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="h-full w-full">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        <!-- Product Performance Cards -->
        {% for product in top_products %}
            {% include 'admin/_product_performance_card.html' with product_name=product.product_name sales_price=product.sales_price increment=product.increment %}
        {% endfor %}
    

        <!-- Sales Over Time Chart -->
        {% include 'admin/_product_sales_chart.html' with last_30_days=last_30_days last_30_days_sales=last_30_days_sales %}

        <div class="col-span-1 lg:col-span-3 grid grid-cols-1 lg:grid-cols-2 gap-8">
            <!-- Monthly Revenue Chart -->
            {% include 'admin/_monthly_revenue_chart.html' with last_6_months_labels=last_6_months_labels revenues=revenues %}

            <!-- Orders Performance Chart -->
            {% include 'admin/_order_performance_chart.html' with confirmed_orders=confirmed_orders delivered_orders=delivered_orders cancelled_orders=cancelled_orders %}
            
        </div>
    </div>
</div>
{% endblock %}
